
.DisplayQuote {
  border : 1px solid black;
  text-align: center;
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 30%;
  padding: 10px;
}

img {
  width: 90px;
  float: left;
  padding: 10px;
}
